// reset display for validation in form group
.was-validated .form-group :valid ~ .valid-feedback,
.was-validated .form-group :valid ~ .valid-tooltip,
.form-group .is-valid ~ .valid-feedback,
.form-group .is-valid ~ .valid-tooltip {
    display: none;
}

.was-validated .form-group :invalid ~ .invalid-feedback,
.was-validated .form-group :invalid ~ .invalid-tooltip,
.form-group .is-invalid ~ .invalid-feedback,
.form-group .is-invalid ~ .invalid-tooltip {
    display: none;
}

.was-validated .form-group :valid + .valid-feedback,
.was-validated .form-group :valid + .valid-tooltip,
.form-group .is-valid ~ .valid-feedback,
.form-group .is-valid ~ .valid-tooltip {
    display: block;
}

.was-validated .form-group :invalid + .valid-feedback + .invalid-feedback,
.was-validated .form-group :invalid + .valid-feedback + .invalid-tooltip,
.form-group .is-invalid ~ .invalid-feedback,
.form-group .is-invalid ~ .invalid-tooltip {
    display: block;
}


// Don't show required asterisk when required field is inside form-group which is required itself
.form-group .required label.required::after {
    display:none;
}

// show invalid feedback when 1 or more fields are invalid
.was-validated .form-group:has(.show-errors :invalid) > .invalid-feedback {
    display: block;
}

// show valid feedback when no fields are invalid
.was-validated .form-group:not(:has(:invalid)) > .valid-feedback {
    display: block;
}

// TODO fix bootstrap requires wrapper

//.was-validated .form-group :valid + .valid-feedback {
//    display:block;
//}
//
//.was-validated .form-group :invalid + .valid-feedback {
//    display:block;
//}

// testing only
//.was-validated :valid {
//    outline:5px solid greenyellow;
//}
//.was-validated :invalid {
//    outline:5px solid orangered;
//}
