body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.input-group-icon {
    fill:red;
}
.input-group-icon img {
    max-width:1em;
    max-height:1em;
}

.input-group-icon svg {
    max-width:1em;
    max-height:1em;
}

.input-group-icon-sprite {
    //width:20px;
    //height:20px;
    color:blue;
    fill: darkgreen;
}

.input-group-icon-sprite svg {
    overflow: visible
}

.svg-icon {
    fill:green;
    stroke:red;
}
