@import 'bootstrap/scss/bootstrap';

h1 {
    margin-bottom:1em;
}

h2 {
    color:darkgreen;
    margin-top:1em;
    margin-bottom:1em;
}

h3 {
    color:darkgreen;
    margin-top:1em;
    margin-bottom:1em;
}

h4 {
    color:darkblue;
    margin-top:1em;
    margin-bottom:1em;
}

#section-links a {
    color:darkgreen;
}

#section-links a:hover {
    color:black;
}

#section-links a:visited {
    color:green;
}

#section-links a:active {
    color:forestgreen;
}

// show required asterisk
label.required::after {
    content: '*';
    color:red;
    margin-left:0.5em;
}
