$primary-active: #061b08;
$primary: #1b7529;
$primary-hover: #48b658;
$primary-disabled: #7daf81;

$secondary-active: #000027;
$secondary: #0505af;
$secondary-hover: #3f3fe8;
$secondary-disabled: #9e9ee1;

@import 'bootstrap/scss/bootstrap';

h1 {
    color:green;
    margin-bottom:1em;
}

h2 {
    margin-top:1em;
    margin-bottom:1em;
}

h3 {
    color:$primary;
    margin-top:1em;
    margin-bottom:1em;
}

h4 {
    color:$secondary;
    margin-top:1em;
    margin-bottom:1em;
}

#section-links a {
    color:$primary;
}

#section-links a:hover {
    color:black;
}

#section-links a:visited {
    color:$primary;
}

#section-links a:active {
    color:forestgreen;
}

// show required asterisk
label.required::after {
    content: '*';
    color:red;
    margin-left:0.5em;
}

.btn-preview-primary {
    @include button-variant(
        $primary, $white, $white,
        $primary-hover, $white, $white,
        $primary-active, $white, $white,
        $primary-disabled, $white, $black);
}

.btn-preview-secondary {
    @include button-variant(
        $secondary, $white, $white,
        $secondary-hover, $white, $white,
        $secondary-active, $white, $white,
        $secondary-disabled, $white, $black);
}

.btn-preview-outline-primary {
    @include button-variant(
        $white, $primary, $black,
        $white, $primary, $black,
        $primary, $primary, $white,
        $white, $primary, $black);
}

.btn-preview-outline-secondary {
    @include button-variant(
            $white, $secondary, $black,
            $white, $secondary, $black,
            $secondary, $secondary, $white,
            $white, $secondary, $black);
}

//.btn-preview-outline-primary {
//    @include button-variant(transparent, $on-primary, $on-primary,
//        $on-primary, $on-primary, $primary,
//        $on-primary, $on-primary, $primary,
//        $on-primary, $on-primary, $primary);
//}
//
//.btn-preview-outline-secondary {
//    @include button-variant(transparent, $on-secondary, $on-secondary,
//        $white, $on-secondary, $on-secondary,
//        $white, $on-secondary, $on-secondary,
//        $white, $on-secondary, $on-secondary);
//}

